In [4]:
import pandas as pd
import os

In [5]:
os.getcwd()

'C:\\Users\\rahul'

In [6]:
data = pd.read_csv("Desktop/Monoco/data.csv.csv")

In [7]:
data.describe()

                         ts user_id country_id site_id
count                  3553    3553       3553    3553
unique                 3538    1916          7       8
top     2019-02-03 20:00:34  LC3A59        TL6   5NPAU
freq                      3     149       1449    1614

In [9]:
bdv= data[data.country_id=='BDV']

In [20]:
bdvsites = bdv.groupby(['site_id'])

In [24]:
bdvsites['user_id'].nunique()

site_id
3POLC      2
5NPAU    544
N0OTG     90
Name: user_id, dtype: int64

In [28]:
q2 = data[(data.ts>="2019-02-03 00:00:00") & (data.ts<="2019-02-04 23:59:59")]

In [33]:
sites = q2.site_id.unique()

In [40]:
site_users = {}
for site in sites:
    if len(q2[q2.site_id==site])>10:
        site_data = q2[q2.site_id==site]
        users = site_data.user_id.unique()
        for user in users:
            if len(site_data[site_data.user_id==user]) > 10:
                print((user, site, len(site_data[site_data.user_id==user])))

('LC3C7E', '3POLC', 15)
('LC3A59', 'N0OTG', 26)
('LC06C3', 'N0OTG', 25)
('LC3C9D', 'N0OTG', 17)

In [39]:
site_users

{'LC06C3': 'N0OTG', 'LC3A59': 'N0OTG', 'LC3C7E': '3POLC', 'LC3C9D': 'N0OTG'}

In [64]:
site_last = {}
for site in sites:
    site_data = data[data.site_id==site]
    users = data.user_id.unique()
    for user in users:
        user_visit = data[data.user_id==user].reset_index()
        user_last_visit = user_visit.iloc[len(user_visit)-1]
        if user_last_visit.site_id == site:
            if site in site_last:
                site_last[site].add(user)
            else:
                site_last[site] = set([user])

In [65]:
for k,v in site_last.items():
    print((k, len(v)))

('3POLC', 28)
('N0OTG', 561)
('QGO3G', 289)
('5NPAU', 992)
('GVOFK', 42)
('JSUUP', 1)

In [46]:
sites

array(['3POLC', 'N0OTG', 'QGO3G', '5NPAU', 'GVOFK', 'JSUUP'], dtype=object)

In [68]:
users = data.user_id.unique()
count = 0
for user in users:
    user_visit = data[data.user_id==user].reset_index()
    user_first_visit = user_visit.iloc[0]
    user_last_visit = user_visit.iloc[len(user_visit)-1]
    if user_last_visit.site_id == user_first_visit.site_id:
        count += 1

In [69]:
count

1670

1916